@font-face {
    font-family: caveat;
    src: url(../../font/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: montserrat;
    src: url(../../font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: LavvicB;
    src: url(../../font/Livvic/Livvic-Bold.ttf);
}
@font-face {
    font-family: LavvicSB;
    src: url(../../font/Livvic/Livvic-SemiBold.ttf);
}
@font-face {
    font-family: PoppinsM;
    src: url(../../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: PoppinsB;
    src: url(../../font/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsSB;
    src: url(../../font/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: BitterB;
    src: url(../../font/Bitter/Bitter-Bold.ttf);
}
@font-face {
    font-family: BitterBI;
    src: url(../../font/Bitter/Bitter-BlackItalic.ttf);
}
@font-face {
    font-family: BitterR;
    src: url(../../font/Bitter/Bitter-Regular.ttf);
}
@font-face {
    font-family: BitterM;
    src: url(../../font/Bitter/Bitter-Medium.ttf);
}


