* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: PoppinsSB;
    line-height: 1.6;
    color: $clr6;
}

body {
    font-size: rem(18px);
    margin: 0;
    background-color: #0f0024;
    color: $clr3;
    }

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
    color: #000000;
    line-height: 1;
}

h1 {
    font-size: 5vw;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
    max-width: 40ch;
}
